# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Testing & Linting
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Local configuration / Environment variables
.env
*.env
